# Default ignored files
/shelf/
/workspace.xml
SyntheticDataGenerator/NAICS6_Pyfunctions/__pychache__/
SyntheticDataGenerator/DataDiag/
SyntheticDataGenerator/DataDiag/DataIn/
SyntheticDataGenerator/DataDiag/DataIn/ImputeCBP/


Datasets/
SyntheticDataGenerator/.idea/
*.pyc
*$py.class

venv/
SyntheticDataGenerator/DataDiag/DataIn/
SyntheticDataGenerator/DataDiag/DataIn/ImputeCBP/
SyntheticDataGenerator/DataDiag/PythonMicrodataSubsets/
Datasets/*.csv
Datasets/*.txt